apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infra

resources:
- configmap.yaml
- pvc.yaml
- deployment.yaml
- service.yaml

images:
- name: snowy-xxl-job-app
  newTag: latest
