apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: snowy-xxl-job-app-logs
  labels:
    app: snowy-xxl-job-app
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
