apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: snowy-gateway-app-logs
  labels:
    app: snowy-gateway-app
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
