apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: snowy-web-app-logs
  labels:
    app: snowy-web-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
